#intro {
    text-align: center;
}

img {
    max-width: 432px;
    display: block;
    height: auto;
    margin: auto;
}

figcaption {
    max-width: 432px;
    margin: auto;
}

#tribute-info, #further-reading {
    max-width: 720px;
    margin: auto;
}