#intro {
    text-align: center;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

p, li, figcaption {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    max-width: 432px;
    display: block;
    height: auto;
    margin: auto;
}

figcaption {
    max-width: 432px;
    margin: auto;
}

#tribute-info, #further-reading {
    max-width: 720px;
    margin: auto;
}