:root {
    --text-color: #141F26;
    --intro-bg-color:  #F2F2F2;
    --main-bg-color: #7EAED9;
    --footer-bg-color: #3C6AA6;
}

body {
    color: var(--text-color);
    background-color: var(--intro-bg-color);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

#intro {
    text-align: center;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

p, li, figcaption {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    max-width: 432px;
    display: block;
    height: auto;
    margin: auto;
}

figcaption {
    max-width: 432px;
    margin: auto;
}

#main-text-container {
    background-color: var(--main-bg-color);
}

#tribute-info, #further-reading {
    max-width: 720px;
    margin: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}
